[Unit]
Description=Load Mullvad + Tailscale coexistence nftables rules
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nft -f /etc/nftables-mullscaled.nft
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
